
@{
    ViewData["Title"] = "Liste de periode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    Liste de periode
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="dashboard" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Liste du periode</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                 @if (ViewBag.msg != null)
                {
                    if (ViewBag.msg == "Done")
                    {
                        <div class="callout callout-success">
                            <h4>Réussi</h4>
                        </div>
                    }
                    else
                    {
                        <div class="callout callout-danger">
                            <h4>Manqué</h4>
                        </div>
                     }
                 }

                <div class="card">
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Statuts</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var periode in ViewBag.periodes)
                                {
                                    <tr>
                                        <td>@periode.Id</td>
                                        <td>@periode.Nom</td>
                                        <td>@(periode.Statut ? "Active" : "Inactive")</td>
                                        <td><a asp-controller="periode" asp-action="modifier" 
                                               asp-route-id="@periode.Id">Modifier</a> |
                                            <a asp-controller="periode" asp-action="supprimer" asp-route-id="@periode.Id" 
                                               onclick="return confirm('êtes-vous sûr?')">Supprimer</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Statuts</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<script>
  $(function () {
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
